<h1>Rahman Shah</h1>
<h3 id="des">Full Stack Developer | Designer</h3>
<p>
  Experienced as a Full Stack Developer in a versatile professional capable of
  working on both the front end (client-side) and back end (server-side) of web
  applications.
</p>
<br />
<h3>Skills:</h3>
<div class="skills">
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>BootStrap</li>
    <li>Git & GitHub</li>
    <li>Angular</li>
    <li>TypeScript</li>
    <li>Python</li>
    <li>MySQL</li>
    <li>Linux</li>
  </ul>
</div>
<button>To know more</button>
<br />
<h3>Projects:</h3>
<ol>
  <li>
    Python: Library Management Application using Python, PyQt5 & relational
    database MySQL
  </li>
  <li>
    HTML & CSS : Responsive portfolio project has been done using only HTML &
    CSS
  </li>
  <li>
    JavaScript: A comprehensive study all about JavaScript with real world
    examples, and created dynamic to do list, banking, restaurant app.
  </li>
  <li>
    MySQL: MySQL project has been completed and cover the concepts of database
    creation, table creation, data inserts and manipulation, joins, and much
    more..
  </li>
</ol>
<button>To know more</button>

<p>
  Experienced as a Full Stack Developer in a versatile professional capable of
  working on both the front end (client-side) and back end (server-side) of web
  applications. Front-End Development: Building user interfaces using HTML, CSS,
  and JavaScript frameworks like React, Angular, or Vue.js. Back-End
  Development: Developing server-side logic, managing databases, and ensuring
  application performance using languages like Python, Java, Node.js, or Ruby.
  Database Management: Designing and managing databases using SQL or NoSQL
  databases like MySQL, PostgreSQL, MongoDB, or Redis. API Development: Creating
  and consuming APIs to enable communication between different parts of the
  application. Version Control: Using tools like Git to manage and track changes
  in the codebase. Deployment: Deploying applications to cloud services like
  AWS, Azure, or Google Cloud. Testing and Debugging: Writing tests and
  debugging code to ensure the application runs smoothly.
</p>
